body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
html{
    height: 100%;
}
.text{
    font-size: 30px;
    color: whitesmoke;
}
.wapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0,15,100);
}

.clearfix{
    flex: 1 0 auto;
    display: flex;
}

.class{
    background-image: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    width: 100%;
}
.heder{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15%;
}

.footer{
    height: 5%;
    margin-top: 0px;
    background-color: rgb(0,15,100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.textFooter{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: whitesmoke;
    padding-top: 5px;
    
}

.elem {
    position: absolute;
    cursor: hand; 
   }

.hide{
    display: none;
}
.rot{
    transform: rotate(90deg);
}
.blok{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(0,15,100);
}

.base {
    transform: rotate(90deg);
    left: 50%;
    top: 30%;
}
.car {
    transform: rotate(180deg);
    left: 40%;
    top: 50%;
}
.door{
    transform: rotate(270deg);
    left: 70%;
    top: 70%;
}
.gar{
    transform: rotate(270deg);
    left: 50%;
    top: 20%;
}
.roof{
    transform: rotate(180deg);
    left: 5%;
    top: 60%;
}

.con {
    display: none;
}
.del{
    display: none;
}
.con2{
position: relative;
font-size: 30px;
color: whitesmoke;
}
